@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dde1e9;
}
/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtRojo{
    color:#ff1133;
}

.txtVerde{
    color:green;
}

.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    
}
.contenedor-header header nav a:hover{
    color: #ff1133;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #ff1133;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }
 /* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7));
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}
/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros{
    color: white;
    max-width: 1100px;
    margin: auto;
    padding: 100px 20px;
}

.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 50%;
}
.nosotros .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items:center
}

.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;
}
.nosotros hr{
    margin-bottom: 30px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotros h2{
    font-size: 2.5rem;
}

.linea {
    border-top: 1px solid white;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

/* ********** */
/* SERVICIOS */
/* ********** */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .card {
    background: white;
    color: black;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
  }
  
  .card-image {
    height: 170px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
  }
  
  .card h2 {
  padding: 10px;
  text-align: center;
  }
  
  .card p {
    padding: 10px;
  }
  
  .card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
  }
  
  .card:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
  }


.servicios{
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7));
    color: white;
    position: relative;
}

.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.servicios .fila .col .contenedor-titulo .info{
    margin-left: 40px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #ff1133;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}


/* ********** */
/* OPINIONES */
/* ********** */
.opiniones{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-galeria.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}
.opiniones .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.opiniones .contenedor-titulo{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.opiniones  .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.opiniones .contenedor-titulo .info{
    margin-left: 30px;
}
.opiniones .contenedor-titulo .info .frase{
    color: #ff1133;
}
.opiniones .contenedor-titulo .info h2{
    font-size: 3rem;
}

.slider {
	height: 250px;
	margin: auto;
	position: relative;
	width: 90%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slide-track{
	display: flex;
	width: calc(250px * 18);
	animation: scroll 40s linear infinite;
}

.slide-track:hover{
	animation-play-state: paused;
}


@keyframes scroll{
	
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(calc(-250px * 9));
	}
}

.slide{
	height: 200px;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 15px;
	perspective: 100px;
}

img {
	width: 100%;
	transition: transform 1s;
}


img:hover{
	transform: translateZ(20px);
}


/* *********** */
/* FOOTER */
/* *********** */
.btn-wsp{
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 45px;
    bottom: 5%;
    right: 2%;
    background: #0df053;
    color: #fff;
    border-radius: 40px; 
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    }
  
  .btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
  }

footer{
    background-color: #151623;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color:white;
}
footer .info a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 15px;
}

.col {
    color: white;
}

.col i{
    color: #ff1133;
    display: inline-block;
}
/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
    header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    header .redes{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:#151623;
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
    }
    .nosotros .fila .col{
        width: 100%;
        margin: auto;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .servicios .contenido-seccion .fila{
        display: block;
    }
    .servicios .contenido-seccion .fila .col{
       width: 100%;
    }
   
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }

    footer .col {
        display: block;
        text-align: center;
    }
    footer .info i {
        margin-bottom: 15px;
    }
}